.allReminders {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionAllReminders h3 {
  text-align: center;
  color: #003E31;
  font-size: 25px;
  font-weight: 700;
}

.descriptionAllReminders p {
  text-align: center;
  color: #76918B;
  font-size: 16px;
  font-weight: 400;
}

.searchRow {
  display: flex;
  margin: 10px 0px 10px 0px;
}


.searchRow input {
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  
  background-color: #FFFFFF;
  color: #5B6260;
  padding-left: 10px;
}

#searchButton {
  width: 20px;
  background: #FFFFFF;
}

.searchRow button {
  border: none;
  width: 220px;
  height: 45px;
  border-radius: 5px;
  background: #98D6CA;
  cursor: pointer;


  color: #003E31;
  font-size: 16px;
  font-weight: 400;
}

.searchRow button:hover{
  background-color: #0CA187;
  transition: .9s;
  color: #f3f3f3;
}

.listAllReminders {
  max-height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
}