.allReminders {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionAllReminders h3 {
  text-align: center;
  color: #003E31;
  font-size: 25px;
  font-weight: 700;
}

.descriptionAllReminders p {
  text-align: center;
  color: #76918B;
  font-size: 16px;
  font-weight: 400;
}

.searchRow {
  width: 680px;

  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.searchRow input {
  border: none;
  width: 200px;
  height: 45px;
  
  background-color: #FFFFFF;
  color: #5B6260;
  padding-left: 10px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#searchButton {
  width: 25px;
  height: 45px;
  background: #FFFFFF;
  border: none;
  cursor: pointer;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchButton:hover {
    background: #fbfbfb;
    transition: .9s;
}

.newReminderButton button {
  border: none;
  width: 220px;
  height: 45px;
  border-radius: 5px;
  background: #98D6CA;
  cursor: pointer;


  color: #003E31;
  font-size: 16px;
  font-weight: 400;
}

.newReminderButton button:hover{
  background-color: #0CA187;
  transition: .9s;
  color: #f3f3f3;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.listAllReminders {
  max-height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media (max-width: 800px) {
  .searchRow {
    width: 550px;
  
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
  }
}


@media (max-width: 600px) {
  .searchRow {
    width: 450px;
  }
  
  .searchRow input {
    width: 120px;
  }
  
  .newReminderButton button {
    width: 140px;
  }

  .descriptionAllReminders h3 {
    font-size: 20px;
  }
  
  .descriptionAllReminders p {
    font-size: 14px;
  }

  .newReminderButton button {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .searchRow {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .searchRow {
    width: 300px;
  }
  
}

@media (max-width: 300px) {
  .searchRow {
    width: 250px;
  }
  .searchRow input {
    width: 100px;
  }
  
  .newReminderButton button {
    width: 120px;
  }
}