.singleDate {
  margin: 0px 0px 10px 0px;
  padding: 15px;
  width: 650px;
  border-radius: 10px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dateReminder {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.dateReminder p {
  color: #003E31;
  font-size: 20px;
  font-weight: 600;
}

.dateReminder button {
  color: #98D6CA;
  background-color: #FFFFFF;
  
  cursor: pointer;
  border: none;
  width: 22px;
  height: 22px;
}

.dateReminder button:hover {
  color: #0CA187;
  transition: .9s;
}

.reminderContainer {
  display: grid;
  row-gap: 5px;

  border-radius: 10px;
}

.singleReminder {
  background-color: #F77575;
  height: 35px;
  border-radius: 10px;
  padding: 5px;

  display: grid;
  grid-template-columns: 15fr 1fr;
  align-items: center;
}

.singleReminder p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;

  color: #5B6260;
}

.singleReminderBtns button {
  height: 22px;
  width: 22px;

  border: none;
  cursor: pointer;

  background-color: #F77575;
  color: #5B6260;
}

.singleReminderBtns button:hover {
  transition: 1s;
  color: #003E31;
}

@media (max-width: 800px) {
  .singleDate {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .singleDate {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .singleDate {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .singleDate {
    width: 250px;
  }

  .dateReminder p {
    font-size: 16px;
  }

  .dateReminder button {
    width: 20px;
    height: 20px;
  }

  .singleReminder p {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .singleDate {
    width: 230px;
    padding: 8px;
  }
}