.newReminderBG {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(52, 52, 52, 0.79);
  z-index: 3;
}

.newReminderForm {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;

  background-color: #F3F3F3;
  
  padding: 40px;
}

.closeButton button {
  border: none;
  cursor: pointer;

  width: 30px;
  height: 30px;

  background-color: #F3F3F3;
}

.formNewReminder {
  display: grid;
  row-gap: 15px;
}

.formNewReminder input {
  border: none;
  width: 340px;
  height: 40px;
  border-radius: 5px;

  background-color: #E5EAE9;
  color: #5B6260;
  padding-left: 10px;
}

.formNewReminder select {
  border: none;
  width: 340px;
  height: 40px;
  padding-left: 10px;
  
  color: #5B6260;
  border-radius: 5px;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='teal' height='24' viewBox='0 0 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  background-color: #E5EAE9;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.formNewReminder button {
  border: none;
  width: 350px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  
  background: #98D6CA;
  color: #003E31;

  font-size: 16px;
  font-weight: 400;
}

.formNewReminder button:hover {
  background-color: #0CA187;
  color: #f3f3f3;

  transition: .9s;
}

.descriptionNewReminder {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionNewReminder h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;

  color: #003E31;
}

.descriptionNewReminder p {
  color: #76918B;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.containerDateColor {
  max-width: 350px;

  display: flex;
  justify-content: space-between ;
}

.containerDateColor #date {
  max-width: 205px;
}

.containerDateColor #color {
  max-width: 125px;
}

/*disable keyboard input in calendar*/
input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  content: "\25BC"; 
  padding: 0 5px;
  color: teal;
}


input[type="date"]:hover:after {
  transition: .9s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  
  cursor: pointer;
}


input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}


input[type="date"]::-webkit-clear-button {
   z-index: 1;
}
